@charset "utf-8";





	/*
	========================================================================
		General instructions
	========================================================================
	*/

	button
	{
		padding: 0 12px;
		line-height: 30px;
		height: 30px;
	}
	#content form { margin-top: 0; }



	/*
	========================================================================
		Login page
	========================================================================
	*/

	#signIn input[type="checkbox"] { vertical-align: -2px; }
