@charset "utf-8";



	/*
	========================================================================
		General instructions
	========================================================================
	*/

	a { color: #6b9126; }
	a:hover { color: #90c133; }
	button
	{
		overflow: visible; 
		padding: 0 12px;
		line-height: 30px;
		height: 30px;
	}
	#content form { margin-top: 0; }



	/*
	========================================================================
		Login page
	========================================================================
	*/

	#signIn input[type="checkbox"] { vertical-align: -2px; }



	/*
	========================================================================
		Global classes
	========================================================================
	*/

	.actions
	{
		height: 35px;
		line-height: 35px;
		clear: both;
	}
